.bgcard {
    margin-top: 10px;
    margin-left: 15px;
    padding: 0px;
    background-color: #F3F1F2;
}

.card {
    height: 280px;
    width:200px;
    flex: 0 0 21%;
}

.row{
    flex-wrap: nowrap;
}

.video{
    margin-left: -65px;
    margin-top: 10px;
}

.cardvideo{
color: white;
background-color: black;
height: 237px;
width: 590px;
margin-top: -6px;
border: #FE4240 2px solid;
margin-left: -65px;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
}

.shop{
    border-left: 7px solid #FE4240 ;
}

.btnC{
    background-color: #FE4240;
    color: white;
    border: #FE4240 solid 2px;
    &:hover{
        background-color: white;
        color: #FE4240;
        border: #FE4240 solid 2px;
    }
}

.bot{
    margin-bottom:10px;
}

.shopmovies{
    display:flex;
    flex-flow: column nowrap;
}

.movies{
    margin-top:25px;
    margin-left: 10px;
    margin-right: 10px;
}



.sizemovies{
    margin-right: -150px;
}

.sizepolice{
    font-size: 0.8rem;
}