Body{   
    margin:0;
    padding: 0;
    background-color: black;
    width: 100vh;
    height: 100vh;
}
// Social Bar
.social_bar_global{
    position: fixed;
    left: 0;
    top : 270px;
    .social_bar{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding:0;
        li{
            list-style-type: none;
            margin:0;   
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            transition-property: transform, opacity;
            transition-duration: 0.3s;
            transition-timing-function: ease; /* Transition de type ease */ 
            a{
                text-decoration: none;
            }
        }
        li:hover{
            .text{
                transform: translateX(50px);
                transition: 0.3s;
                opacity: 1;  
            }
        }
        .fab, .fas{
            font-size: 300%;
            color: yellow;
        }
        .text{
            background: black;
            text-align: center;
            position:relative;
            left: -50px;
            opacity: 0;
            display: inline-block;
            width:100px;
            height: 48px;
            font-family: cursive;
            color: white;
            font-size: 1.2em;
            p{
                position: relative;
                top : -9px;
            }
        }
        .logo1, .logo2, .logo3, .logo4, .logo5{
            background-color: black;
            padding-right: 5px;
        }
       
    }
}


/*Pour coller le carrousel au top*/
.jmb{
    padding: 0px !important;  
}

// classe pour la barre

.login-bar{
 margin:0; padding:0;
 background-color:#fe4240;
 height:35px;
 width:100%;
}

.fa-phone {color:#FFF;margin-left:20px; margin-top:8px;}
.tel {color:#FFF; display:inline; padding-left: 5px;}

.btn-sombre {margin-top:6px; margin-bottom:10px; border-radius:0px; 
    height: 25px; font-size:10px; font-weight:bold; font-family:sans-serif;
}

.btn-red {background-color:#fe4240; color:#fff;  border-radius:0px; font-size: 0.7em; margin-bottom:70px;}
.red-title {color:#fe4240; font-weight: bold;}
.decaler {margin-left:25px;}
.decaler-bas {margin-bottom:50px;}

//traking mouse

