Body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ui-widget-header {
  display: none;
}

.ui-button {
  margin-left: 25px;
  position: relative;
  top: -15px;
  left: -12px;
  background-color: #F3F1F2;
}

.ui-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FE4240;
  padding-top: 40px;
  border: 2px solid white;
}

.modal18 {
  position: relative;
  color: white;
  font-size: 1.5rem;
}

.social_navbar {
  height: 500px;
  z-index: 9999;
}

.social_navbar .social_global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: -120px;
  top: 210px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 11%;
  padding: 0;
}

.social_navbar .social_global .social_link {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  /* Transition de type ease */
}

.social_navbar .social_global .social_link:hover .text {
  -webkit-transform: translateX(110px);
          transform: translateX(110px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.social_navbar .social_global .texttwitter {
  background: #33CCFF;
  text-align: center;
  border-radius: 30px;
  position: relative;
  left: -60px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  font-family: cursive;
  color: white;
  font-size: 1.2em;
}

.social_navbar .social_global .texttwitter .ptwiter {
  position: relative;
  left: 90px;
  top: 15px;
}

.social_navbar .social_global .texttwitter .fa-twitter {
  font-size: 24px;
  position: relative;
  top: 5px;
  left: 124px;
  height: 50px;
  color: black;
  background-color: white;
  padding: 10px 12px 0px 12px;
  border-radius: 100px;
}

.social_navbar .social_global .textfacebook {
  background: #3b5998;
  text-align: center;
  border-radius: 30px;
  position: relative;
  left: -60px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  font-family: cursive;
  color: white;
  font-size: 1.2em;
}

.social_navbar .social_global .textfacebook .pfacebook {
  position: relative;
  left: 80px;
  top: 15px;
}

.social_navbar .social_global .textfacebook .fa-facebook-f {
  font-size: 24px;
  position: relative;
  top: 5px;
  left: 110px;
  height: 50px;
  color: black;
  background-color: white;
  padding: 10px 18px 0px 18px;
  border-radius: 100px;
}

.social_navbar .social_global .textdrib {
  background: pink;
  text-align: center;
  border-radius: 30px;
  position: relative;
  left: -60px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  font-family: cursive;
  color: white;
  font-size: 1.2em;
}

.social_navbar .social_global .textdrib .pdrib {
  position: relative;
  left: 80px;
  top: 15px;
}

.social_navbar .social_global .textdrib .fa-dribbble {
  font-size: 24px;
  position: relative;
  top: 5px;
  left: 117px;
  height: 50px;
  color: black;
  background-color: white;
  padding: 10px 12px 0px 12px;
  border-radius: 100px;
}

.social_navbar .social_global .textgg {
  background: #DD4B39;
  text-align: center;
  border-radius: 30px;
  position: relative;
  left: -60px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  font-family: cursive;
  color: white;
  font-size: 1.2em;
}

.social_navbar .social_global .textgg .pgg {
  position: relative;
  left: 100px;
  top: 15px;
}

.social_navbar .social_global .textgg .fa-google-plus-g {
  font-size: 24px;
  position: relative;
  top: 5px;
  left: 125px;
  height: 50px;
  color: black;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 1000px;
}

.featured_global {
  position: relative;
  margin: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured_global .btn_global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 0 0 0;
  position: relative;
  right: 28px;
}

.featured_global .btn_global .btnAll, .featured_global .btn_global .btnAll3 {
  background-color: #FE4240 !important;
  color: white;
}

.featured_global .btn_global .btnFeatured {
  background-color: #F3F1F2;
  width: 100px;
  height: 35px;
  font-size: 1.2em;
  text-align: center;
  margin-left: 3px;
}

.featured_global .btn_global .btnFeatured:hover {
  background-color: #FE4240;
  color: white;
}

.featured_global .slideAction,
.featured_global .slidePolicier,
.featured_global .slideAction2,
.featured_global .slidePolicier2,
.featured_global .slideAction3,
.featured_global .slidePolicier3,
.featured_global .slideAction4,
.featured_global .slidePolicier4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  width: 100%;
}

.featured_global .slideAction .card_featured,
.featured_global .slidePolicier .card_featured,
.featured_global .slideAction2 .card_featured,
.featured_global .slidePolicier2 .card_featured,
.featured_global .slideAction3 .card_featured,
.featured_global .slidePolicier3 .card_featured,
.featured_global .slideAction4 .card_featured,
.featured_global .slidePolicier4 .card_featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 5px 0px 5px;
  text-align: center;
  width: 10rem;
}

.featured_global .slideAction .card_featured h3,
.featured_global .slidePolicier .card_featured h3,
.featured_global .slideAction2 .card_featured h3,
.featured_global .slidePolicier2 .card_featured h3,
.featured_global .slideAction3 .card_featured h3,
.featured_global .slidePolicier3 .card_featured h3,
.featured_global .slideAction4 .card_featured h3,
.featured_global .slidePolicier4 .card_featured h3 {
  font-size: 1.2rem;
}

.featured_global .slideAction .card_featured .p_featured,
.featured_global .slidePolicier .card_featured .p_featured,
.featured_global .slideAction2 .card_featured .p_featured,
.featured_global .slidePolicier2 .card_featured .p_featured,
.featured_global .slideAction3 .card_featured .p_featured,
.featured_global .slidePolicier3 .card_featured .p_featured,
.featured_global .slideAction4 .card_featured .p_featured,
.featured_global .slidePolicier4 .card_featured .p_featured {
  position: relative;
}

.titre-section {
  border-left: 7px solid #FE4240;
  padding-left: 20px;
  position: relative;
  right: 150px;
}

.plusdefilm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnPlus, .btnMoins, .btnPlus4 {
  background-color: #FE4240;
  color: white !important;
  width: 170px;
  height: 35px;
  font-size: 1.2em;
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: 450px) {
  .featured_global {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featured_global .titre-section {
    border-left: 7px solid #FE4240;
    padding-left: 20px;
    position: relative;
    right: 0;
    font-size: 1.4em;
  }
  .featured_global .slideAction,
  .featured_global .slidePolicier,
  .featured_global .slideAction2,
  .featured_global .slidePolicier2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row wrap;
            flex-direction: row wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    width: 100%;
  }
}

.qc-cmp-button {
  color: #000 !important;
}

.qc-cmp-ui,
.qc-cmp-ui .qc-cmp-main-messaging,
.qc-cmp-ui .qc-cmp-messaging,
.qc-cmp-ui .qc-cmp-beta-messaging,
.qc-cmp-ui .qc-cmp-title,
.qc-cmp-ui .qc-cmp-sub-title,
.qc-cmp-ui .qc-cmp-purpose-info,
.qc-cmp-ui .qc-cmp-table,
.qc-cmp-ui .qc-cmp-table-header,
.qc-cmp-ui .qc-cmp-vendor-list,
.qc-cmp-ui .qc-cmp-vendor-list-title {
  color: #000 !important;
}

.qc-cmp-ui a,
.qc-cmp-ui .qc-cmp-alt-action {
  color: #000 !important;
}

.qc-cmp-ui {
  background-color: #FE4240 !important;
}

.qc-cmp-publisher-purposes-table .qc-cmp-table-header {
  background-color: #fafafa !important;
}

.qc-cmp-publisher-purposes-table .qc-cmp-table-row {
  background-color: #ffffff !important;
}
/*# sourceMappingURL=styles.css.map */